.baseClass {
    border-radius: 0.5rem;
    width: max-content;
    padding: 0.25rem 0.5rem;
    font-size: 1rem; 
    font-weight: 600;
    color: #fff;
    transition: all 0.2s;
}
  
.gray {
    background-color: rgba(107, 114, 128, 0.2); 
}
  
.high {
    background-color: rgba(239, 68, 68, 0.6);
}
  
.medium {
    background-color: rgba(251, 146, 60, 0.7);
}
  
.low {
    background-color: rgba(59, 130, 246, 0.7);
}